* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cornsilk;
}

.card-container {
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(330px, 1fr));
    grid-gap:70px;
    margin-top: 50px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    justify-content: space-around;
    
}

.name {
    width:100%;
    height: 30px;
    text-align: center;
    color: orangered;
    font-size: 1.5rem;
    margin: 12px 0;
}

.card img {
    max-width: 100%;
    height: 400px;
}

.order,
.price,
.detail {
    margin: 15px;
}

.price {
    font-size: 1.2rem;
}

.detail {
    color: gray;
}

.order {
    padding: 10px;
    text-transform: uppercase;
}

.order:hover {
    background-color: orangered;
}


/* navbar style */

.topnav {
    margin: 30px;
    text-align: center;
}

.btn-grp {
    border: none;
    padding: 5px;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1.2rem;
    outline: none;
    background-color: white;
    color: brown;
}

.btn-grp:hover {
    color: orangered;
    transform: scale(1.1);
}